.letra-grande {
  font-size: 15px; }

.letra-mediana {
  font-size: 10px; }

.letra-chica {
  font-size: 5px; }

.padding-logo {
  padding-top: 0px; }

.padding-header {
  padding-top: 8px; }

.padding-rrss {
  padding-top: 10px; }

.img-logo {
  width: 100px;
  height: auto; }

.img-mediopago {
  width: 50px;
  height: auto; }

.imgdestacados--size {
  width: 100%;
  height: auto; }

.text-navbar {
  text-size: 4rem; }

.nav-link {
  color: black; }

.white {
  color: white; }

.textBienv {
  text-align: center; }

.text1 {
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 10px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

body header {
  display: flex;
  flex-direction: row;
  align-items: center; }

.bg-color {
  background-color: #5e5d5d;
  color: white; }

* {
  margin: 0px;
  padding: 0px; }

.display-flex, .display-flex-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: space-evenly !important; }

.display-flex-column {
  flex-direction: column; }

ul {
  text-decoration: none;
  list-style-type: none; }

.img-logo-header {
  width: 20px;
  height: auto; }

.video {
  width: 100%;
  height: auto; }

.navbar-index {
  z-index: 3; }
