<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COP@2 CARRERAS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato:ital@1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="En esta pagina obtendras toda la informacion sobre nuestro exclusivo club de socios.">
	<meta name="keywords" content="copados argentina bebidas tienda ">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header class="display-grid-tcn bg-tcn">
        <div class="display-flex logo">
			<a href="../index.html">
			<img src="../assets/img/logo/logo_copados.png" alt="logo" class="img-logo">
			</a>
		</div>
		<div class="idioma display-flex">
			<div class="dropdown display-flex-idioma ">
				<button class="dropbtn display-flex">Idioma</button>
				<div class="dropdown-content display-flex">
				<a href="#">Español</a>
				<a href="trabajaconnostros_en.html">Ingles</a>
				</div>
			</div>
		</div>
		<div class="titulo display-flex-titulo">
			<h1 data-aos="fade-top" class="h1-font">
				NUESTRAS CARRERAS
			</h1> 
			<p data-aos="fade-top" class="h1-font">Forma parte de nuestro equipo de trabajo!</p>
		</div>
    </header>
    <main>
		<div class="grid-main">
			<div class="titulo-ventas display-flex-column">
				<p class="display-flex h1-font">VENTAS</p>
				<p class="display-flex h1-font">Envia tu cv a ventas@copados.com.ar</p>
			</div>
			<div class="img-ventas display-flex" id="hide-mq1">
				<img src="../assets/img/tcn/ventas.jpg" class="img-fluid" alt="ventas">
			</div>
			<div class="img-compras display-flex " id="hide-mq2">
				<img src="../assets/img/tcn/compras.jpg" class="img-fluid" alt="ventas">
			</div>
			<div class="titulo-compras display-flex-column">
				<p class="display-flex h1-font">COMPRAS</p>
				<p class="display-flex h1-font">Envia tu cv a compras@copados.com.ar</p>
			</div>
			<div class="titulo-admin display-flex-column">
				<p class="display-flex h1-font">ADMINISTRACION</p>
				<p class="display-flex h1-font">Envia tu cv a administracion@copados.com.ar</p>
			</div>
			<div class="img-admin display-flex " id="hide-mq3"><img src="../assets/img/tcn/admin.jpg" class="img-fluid" alt="ventas"></div>
		</div>
	</main>
	<footer class="display-flex-footer">
		<div class="display-flex-column">
			<a href="../index.html" class="footer-padding-logo">
				<img src="../assets/img/logo/logo_copados.png" alt="logo" class="img-logo" width="50px" 
				height="50px">
			</a>
		</div>
		<div class="display-flex-column footer-padding-nav">
			<div>
				<a href="../index.html" class="footer-link">
					<p>Home</p>
				</a>
			</div>
			<div>
				<a href="../views/socios.html" class="footer-link">
					<p>Socios</p>
				</a>
			</div>
			<div>
				<a href="../views/nuestras_tiendas.html" class="footer-link">
					<p>Tiendas</p>
				</a>
			</div>
			<div>
				<a href="../views/productos.html" class="footer-link">
					<p>Productos</p>
				</a>
			</div>
			<div>
				<a href="../views/contacto.html" class="footer-link">
					<p>Contacto</p>
				</a>
			</div>
		</div>
	</footer>
	<script src="js/wow.min.js"></script>
	<script> new WOW().init();</script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>	
</body>
</html>