@mixin logo($width,$height){
    width: $width;
    height: $height;
}

.img-logo{
    @include logo((200px/2),auto);
}

.img-mediopago{
     @include logo((100px/2),auto);
}

.imgdestacados--size{
    @include logo(100%,auto);
}

.img-destacados{
    width: 225px;
    height: 225px;
}

.container-destacados{
  width: 100px;
  height: 100px;
}

.img__wrap {
    position: relative;
    width: 250px;
    height: 250px;
  }
  
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description{
    visibility: visible;
    opacity: 1;
  }


  .hover {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .hover-footer{
    @extend .hover;
    background-color:#6c757d ;
  }

  .hover:hover {opacity: 1}

  .hover-header{
    @extend .hover;
    background-color: black;
    opacity: 1;
  }
  .hover-header:hover{
    opacity: 0.5;
  }

.googlemaps{
  height: 20rem;
  width: 20rem;
}

.bg-contacto{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:static ;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  z-index: -1;
}

.padding-socios{
  padding:15px
}