$tamanio-letras:(
    grande:15px,
    mediana:10px,
    chica:5px
);

@each $tamanio , $pixeles in $tamanio-letras{
    .letra-#{$tamanio}{
        font-size:$pixeles;
    }
}

$estilo-letra:(
    color:rgb(100, 24, 24),
    tfuente:25px
);

