.nav-link{
    color:black;
}

.white{
    color:white;
}

.textBienv{
    text-align:center;
}

.text1{
    text-align:center;
    background-color:gray;
    color:white;
    font-size:10px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


